<link href="radio.css" rel="stylesheet">

<label class="matter-radio">
    <input type="radio" name="group" checked>
    <span>Radio Option 1</span>
</label>

<br/><br/>

<label class="matter-radio">
    <input type="radio" name="group">
    <span>Radio Option 2</span>
</label>


<br/><br/><br/>


<label class="matter-radio">
    <input type="radio" name="disabled" checked disabled>
    <span>Disabled 1</span>
</label>

<br/><br/>

<label class="matter-radio">
    <input type="radio" name="disabled" disabled>
    <span>Disabled 2</span>
</label>


<br/><br/><br/>


<label id="xmas" class="matter-radio">
    <input type="radio" name="xmas">
    <span>Xmas Tree</span>
</label>

<br/><br/>

<label class="matter-radio">
    <input type="radio" name="xmas">
    <span>Xmas Tree, but different</span>
</label>
