<link href="./link.css" rel="stylesheet">

The purpose of Matter is to provide the most easy-to-use but accurate implementation of <a href="https://material.io/design/guidelines-overview/" class="matter-link">Material Design Components</a>.

Matter has probably the lowest entry-barrier among Material Design Component libraries. The only technical knowledge needed to use it is basic <a href="https://en.wikipedia.org/wiki/HTML5" class="matter-link">HTML5</a>. It doesn't rely on <a href="https://tc39.github.io" class="matter-link">JavaScript</a>, it only needs one to three HTML elements and a CSS class per component to work. The markup of the components is semantic by design.

Matter is built with theming in mind. Its components can be customized by specifying certain colors and/or fonts. The granularity of customization is variable: components can be themed on global level, component level, component instance level, or on any level between.

<br/><br/>

<a class="matter-link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size" style="font-size: large;">Large</a>

<br/><br/>

<a class="matter-link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size">Medium</a>

<br/><br/>

<a class="matter-link" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font-size" style="font-size: small;">Small</a>

<br/><br/>

<a id="xmas" class="matter-link" href="https://english.stackexchange.com/questions/84564/a-case-that-exhibits-all-the-possible-conditions-a-subject-can-suffer-from" style="display: inline-block; width: 80px; font-family: 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system; font-size: 16px;">Xmas Tree</a>
