<link href="tooltip.css" rel="stylesheet">

<div data-matter-tooltip="Small Help" style="width: 120px;">
    I'm a div
</div>

<br/><br/>

<div data-matter-tooltip="Small Help" style="width: 240px;">
    I'm a wider div
</div>

<br/><br/>

<span data-matter-tooltip="Small Help">I'm just a span</span>

<br/><br/><br/>

<label data-matter-tooltip="Small Help">
    Label
    <input/>
</label>

<br/><br><br/>

<div id="xmas" data-matter-tooltip="Small Help" style="width: 120px;height: 20px;">
    Xmas Tree
</div>
