<link href="textfield-filled.css" rel="stylesheet">

<label id="normal" class="matter-textfield-filled">
    <input placeholder=" "/>
    <span>Textfield</span>
</label>
<br/><br/>
<label id="sized" class="matter-textfield-filled" style="width: 240px;">
    <input placeholder=" "/>
    <span>Sized</span>
</label>
<br/><br/>
<label id="disabled" class="matter-textfield-filled">
    <input placeholder=" " disabled/>
    <span>Disabled</span>
</label>
<br/><br/>
<label id="xmas" class="matter-textfield-filled" style="width: 240px;">
    <input placeholder=" "/>
    <span>Xmas Tree</span>
</label>
<br/><br/>

<label id="ta-normal" class="matter-textfield-filled">
    <textarea placeholder=" "></textarea>
    <span>Textfield</span>
</label>
<br/><br/>
<label id="ta-sized" class="matter-textfield-filled" style="width: 240px; height: 90px;">
    <textarea placeholder=" "></textarea>
    <span>Sized</span>
</label>
<br/><br/>
<label id="ta-disabled" class="matter-textfield-filled">
    <textarea placeholder=" " disabled></textarea>
    <span>Disabled</span>
</label>
<br/><br/>
<label id="ta-xmas" class="matter-textfield-filled" style="width: 240px; height: 90px;">
    <textarea placeholder=" "></textarea>
    <span>Xmas Tree</span>
</label>
